# Specify filepatterns you want git to ignore.

#Ignore pycache files
*.pyc

#Ignore config files
*.conf
*config

#Ignore data dragon
*data_dragon

#Ignore log files
*.log

#Ignore tmp files
*tmp

#Ignore json files
*.json